tmp/*
.DS_Store
private.el
magit/lisp/autom4te.cache/*
tmp.auto-saves*
auto-save-list/*
old/
el-get/
ede-projects.el
url/
/ac-comphist.dat
server/server
/tramp
session.1021f4e2bb95b2af63135456183220303500000035740050
/eshell/lastdir
/bookmarks
/eshell/history
